.contaminacao_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;

}

.contaminacao_section h1 {
  color: #03989e;
  font-size: 26px;
}

.contaminacao_card{
  display: flex;
  justify-content: center;
  background-color: white;
  width:75vw;
  border-radius: 10px;
  border: solid 1px #e4dfdf;
  margin: 30px 0;
}

.contaminacao_div_container {
  display: flex;
  flex-direction: column;
  width: 70vw;
  margin: 30px 0;
}

.contaminacao_div_text {
  display: flex;
}

.contaminacao_div_text_paragrado {
  width: 50%;
}

.contaminacao_div_text_paragrado p {
  margin: 10px 10px 0 0;
  font-size: 17px;
  color: #555353;
  line-height: 1.7;
}

.contaminacao_image_container {
  width: 50%;
}

.contaminacao_image {
  width: 90%;
}

.contaminacao_div_video{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 65vh;
}

.contaminacao_container_video{
  width: 80%;
  height: 80%;
}

.contaminacao_video{
  width:60%;
  height: 70%;
  
}