.alimentacao_section {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;

}
.alimentacao_section h1,h2 {
  color: #03989e;
  text-align: inherit;
  font-size: 26px;
 
}


.alimentacao_section p {
  font-size: 17px;
  color: #555353;
}

.section_alimentacao_text{
  margin: 5% 0;
}

.section_restaurantes{
  display: flex;
  flex-direction: column;
  background-image: url('https://i.ibb.co/S5bzbX6/undraw-breakfast-psiw.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 400px;
  width: 65vw;
  margin-bottom: 20px;
}

.container_pizzarias{
  display: flex;
}