.menu {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.item {
  float: left;
}

.item .link {
  font-size: 1.3em;
  font-weight: 600;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #03989e;
  margin:0 73px;
}

hr{
  width: 85%;
  margin: 0 auto;
  height: 1px;
  border: 0;
  border-top: 2px solid #DDDEDD;
}

@media (min-width: 320px) and (max-width: 768px) {
  .menu{
    flex-wrap: wrap;
  }

  .item .link {
   
    margin:0 40px;
  }

}