.header {
  display: flex;
  width: 100vw;
  justify-content: center;
}

.header_container{
  display: flex;
  align-items: center;
}

.img_header {
  width: 400px;
  height: 380px;
}

.img_header_two {
  width: 210px;
  height: 180px;
}

@media (min-width: 320px) and (max-width: 768px) {
  .img_header_two {
   display: none;
  }

}
