.footer {
  background-color:  #03989e;;
  color:#FFF;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  bottom: 0px;
  margin-top: 50px;
  position: fixed;
}